[submodule "returnn"]
	path = returnn
	url = git@github.com:rwth-i6/returnn.git
[submodule "tools-multisetup"]
	path = tools-multisetup
	url = https://github.com/jotix16/tools-multisetup.git
	branch = master
