#!crnn/rnn.py
# kate: syntax python;
# vim: ft=python sw=2:
# based on Andre Merboldt rnnt-fs.bpe1k.readout.zoneout.lm-embed256.lr1e_3.no-curric.bs12k.mgpu.retrain1.config

from returnn.import_ import import_
import_("github.com/rwth-i6/returnn-experiments", "common", "20210323233012-c8f3e764715f")
from returnn_import.github_com.rwth_i6.returnn_experiments.v20210323233012_c8f3e764715f.common.datasets.asr.librispeech import oggzip

globals().update(
  oggzip.Librispeech(train_random_permute={
    "rnd_scale_lower": 1., "rnd_scale_upper": 1.,
    "rnd_pitch_switch": 0.05,
    "rnd_stretch_switch": 0.05,
    "rnd_zoom_switch": 0.5,
    "rnd_zoom_order": 0,
  }).get_config_opts())
